.additional_information {
    background: #535f6a;
    padding: 1em;
    margin: 2em 0 3em;
    width: 1140px;
    li {
        display: block;
        position: relative;
        background-color: #dcdfe3;
        color: #535f6a;
        padding: 2em;
        text-align: center;
        margin-bottom: 1em;
        font-size: 1.5em;
    }
    td {
        color:#535f6a;
    }
}
.navbar-brand {
    height: 50px;
}

//===== Custom navbar
@navbar-default-bg:                #f3f3f3;
@navbar-height:                    60px;
@container-large-desktop:          (1140px + @grid-gutter-width);
@navbar-default-link-color:        #535f6a;
@navbar-default-link-hover-color:  #be282d;
@navbar-default-link-hover-bg:     #d1d4d9;
@navbar-default-link-active-color: #535f6a;
@navbar-default-link-active-bg:    @navbar-default-link-hover-bg;


//===== Custom text
@font-size-base:          14px;
@font-size-large:         ceil((@font-size-base * 1.25)); // ~18px
@font-size-small:         ceil((@font-size-base * 0.85)); // ~12px

@font-size-h1:            floor((@font-size-base * 2.6)); // ~36px
@font-size-h2:            floor((@font-size-base * 2.15)); // ~30px
@font-size-h3:            ceil((@font-size-base * 1.7)); // ~24px
@font-size-h4:            ceil((@font-size-base * 1.25)); // ~18px
@font-size-h5:            @font-size-base;
@font-size-h6:            ceil((@font-size-base * 0.85)); // ~12px

@headings-font-family:    'Arial', cursive;
@headings-font-weight:    500;
@headings-line-height:    1.1;
@headings-color:          #be282d;