//==================== Logo size change
header a.navbar-brand {
    &.logo {
        padding: 0 15px;
    }
    img {
        max-height: 50px;
        margin-top: 5px;
    }
}

//==================== Snippet title
.h1-title{
    font-size:2em;
    color:#be282d;
    font-weight:900;
}
.h3-title{
    font-size:14px;
    color:#535f6a;
    font-weight:700;
}

//==================== Snippet cover
.h2-cover{
    font-size:62px;
    color:#fff;
    font-weight:500;
}
.h4-cover{
    font-size:14px;
    color:#FFFFFF;
    font-weight:700;
}
.p-cover{
    color:#ffffff;
}
//==================== Snippet text image & image text
.h3-text-image{
    font-size:24px;
    color:#be282d;
    font-weight:700;
}
.p-text-image{
    font-size:14px;
    color:#000000;
}

//==================== Snippet big message
.h1-big-message{
    font-size:36px;
    color:#414b57;
    font-weight:600;
}
.p-big-message{
    font-size:21px;
    color:#000000;
    font-weight:200;
}
.btn-big.message{
    color:#FFF;
    background-color:#be282d;
    border-color:#b00007;
}
.btn-warning,
.btn,
.btn-lg,
.btn-warning:focus,
.btn-warning:hover,
.btn:focus,
.btn:hover,
.btn-lg:focus,
.btn-lg:hover{
    color:#FFF;
    background-color:#be282d;
    border-color:#b00007;
}

//==================== Snippet text block
.h2-text-block{
    color:#be282d;
    font-weight:700;
    font-size:30px;
}
.h3-text-block{
    color:#535f6a;
    font-weight:700;
    font-size:24px;
}
.p-text-block{
    color:#000000;
}

//==================== Snippet features
.h3-features {
    size: 24px;
    color: #414b57;
}
.h4-features {
    size: 18px;
    color: #535f6a;
}
.text-muted-features{
    color: #535f6a;
}
.icon-vl-feat{
    color: #414b57;
}

//==================== Snippet big picture
.h2-big-picture{
    color:#be282d;
    font-weight:700;
    font-size:30px;
}
.h3-big-picture{
    color:#FFFFFF;
    font-weight:700;
    font-size:24px;
}
.p-big-picture{
    color:#FFFFFF;
}
.a-big picture{
    color:#be282d;
    font-weight:500;
}
.row-big-picture{
    height:820px;
}

//==================== Snippet three columns
.h4-three-columns{
    font-size:14px;
    color:#414b57;
    font-weight:700;
}
.p-three-columns{
    color:#000000;
}

//==================== Snippet Banner
.h2-banner{
    color:#414b57;
    font-weight:900;
    font-size:30px;
}
.h4-banner{
    font-size:14px;
    color:#414b57;
    font-weight:700;
}
.btn,
.btn-warning,
.btn-large,
.btn-banner,
.btn-warning:focus,
.btn-warning:hover,
.btn:focus,
.btn:hover,
.btn-large:focus,
.btn-large:hover{
    color:#FFF;
    background-color:#be282d;
    border-color:#b00007;
}
.bg-banner{
    background-color:#00a6d2;
}

//==================== Snippet Image Gallery

//==================== Snippet Comparison
.h2-vl-s-comparison

.h3-vl-s-comparison

.p-vl-s-comparison

.li-vl-s-comparison

//==================== Snippet Banner

//==================== Snippet Banner

//==================== Snippet Banner

//==================== Snippet Banner

//==================== Snippet Banner
//==================== Custom Footer

#wrapwrap footer {
   background-color: #f3f3f3;
}
h4{
    color:#414b57;
    font-weight: 500;
    font-size: 20px;
}
a,
a:focus,
a:hover{
    color: #be282d;
}
p{
    color: #000000;
}
.text-muted{
    color: #9099a2
}

//==================== Custom navbar
@navbar-default-bg:                #f3f3f3;
@navbar-height:                    60px;
@container-large-desktop:          (1140px + @grid-gutter-width);
@navbar-default-link-color:        #535f6a;
@navbar-default-link-hover-color:  #be282d;
@navbar-default-link-hover-bg:     #d1d4d9;
@navbar-default-link-active-color: #535f6a;
@navbar-default-link-active-bg:    @navbar-default-link-hover-bg;


//==================== Custom text
@font-size-base:          14px;
@font-size-large:         ceil((@font-size-base * 1.25)); // ~18px
@font-size-small:         ceil((@font-size-base * 0.85)); // ~12px

@font-size-h1:            floor((@font-size-base * 2.6)); // ~36px
@font-size-h2:            floor((@font-size-base * 2.15)); // ~30px
@font-size-h3:            ceil((@font-size-base * 1.7)); // ~24px
@font-size-h4:            ceil((@font-size-base * 1.25)); // ~18px
@font-size-h5:            @font-size-base;
@font-size-h6:            ceil((@font-size-base * 0.85)); // ~12px

@font-family-sans-serif:  "Arial", Arial, Arial, Arial;
@headings-font-family:    'Arial', cursive;
@headings-font-weight:    500;
@headings-line-height:    1.1;
@headings-color:          #be282d;

//==================== Subcontractor form
.vl-subcontractor-form-container{
    width: 1700px;
}

.vl-subcontractor-form-div-fields{
    width: 1170px;
    margin-left: auto !important;
    margin-right: auto !important;
}
.vl-subcontractor-form-hr{
    width:68%;
    color:#535f6a;
    margin-right:auto;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(197, 201, 208);
}
.vl-subcontractor-form-table{
    width:980px;
}
.vl-subcontractor-form-font-th-table{
    color: #535f6a;
    text-align: left;
}
.vl-subcontractor-form-hr-table{
    width: 945px;
    color: #535f6a;
    margin-right: 36px;
}

.vl-subcontractor-custom{
    background-size: cover;
    background-color: #dcdfe3;
    border-style: solid;
    border-color: #dcdfe3;
    border-top-width: 25px;
    border-bottom-width: 14px;
    font-color: #535f6a;
    width:1700px;
}
.vl-subcontractor-form-font-color{
    color: #535f6a;
    align: left;
}
.vl-subcontractor-form-h1{
    color: #be282d;
    font-size: 36px;
    font-weight: 900;
}
.vl-subcontractor-form-h3{
    font-size: 24px;
    color: #535f6a;
    font-weight: 700;
}
.vl-subcontractor-form-container{
    width: 2240px;
}
